body {
    background-color: #3a4965;
    font-family: "Arimo";
}

.container-content {
    width: 1140px;
    height: 680px;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
    background-color: #fafafa;
    margin: 50px auto;
}

.pricing_table {
    border-collapse: collapse;
    box-sizing: border-box;
}

td {
border: 1px solid black;
    width: 277px;
    height: 70px;

}

.a {
    box-shadow: -1px 0 0px 0 grey;
}

.2 {

}